.block-views-blockhome-page-vertical-box-news-block-1 {
  .content .view-id-home_page_vertical_box_news {
    .view-content .views-view-grid .views-col {
      .views-row {
          margin-bottom: 1.5rem;
        .views-field {
          text-align: center;
        }
        .views-field-title {
          font-size: 10px;
          font-weight: 500;
        }
      }
    }
  }
}
