.block-tb-megamenu-menu-blockmain{
    .content .tb-megamenu-main{
        background-color: transparent;
        .nav-collapse   .tb-megamenu-nav{
            .mega span,a{
                // padding: 10px 20px;
                // margin: 0;
                border: none;
                color: black;
                font-weight: 400;
            }
        }
    }
}