.block-search {
  width: 100%;
  display: inline-block;
  vertical-align: center;

  .content form{
      margin: 1.5rem 0 0  12rem;
      .form-item{
          input{
            border: 1px solid #ececec;
            box-shadow: none;
            background: #f6f6f6;
            height: 40px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            -webkit-background-clip: padding-box;
            -moz-background-clip: padding;
            background-clip: padding-box;
            outline: none;
            font-weight: 500;
            font-size: 1rem;
            text-transform: capitalize;
          }
      }

      .form-actions{
          input{
              height: 40px;
              width: 80px;
              border-radius: 0;
              background: url('');
              font-size: 2rem;
              background-color: $primary;
          }
      }
  }
}
