@import '../abstracts/colors';

.block-views-blockcontent-box-1-block-1 {
  .content .view .view-content {
    .views-row .views-field-title {
      .field-content {
        a {
          font-size: 1rem;
          font-weight: 800;
          color: $grey;
          transition: all 0.25s ease-in-out;
          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
}

.block-views-blockcontent-box-1-block-2 {
  .content .view .view-content {
    .views-row .views-field-title {
      .field-content {
        a {
          font-size: 0.9rem;
          font-weight: 900;
          color: $grey;
          transition: all 0.25s ease-in-out;
          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
}

// Media Queries

