@media only screen and (max-width: 768px) {
  nav .content ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .block-views-blockadvertisement-view-block-1 .content .view-content .views-row .views-field-field-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .block-views-blockcontent-highlight-news-block-1 .content .view-id-content_highlight_news .view-content .views-row .views-field-title .field-content a {
    top: 175%;
    color: #e33b26;
    display: none;
  }
  .block-views-blocktopic-image-news-block-1 .content .view-id-topic_image_news .view-content .vertical .topic-image-box-col .topic-image-box-row .views-field-field-image {
    width: 80%;
    padding-left: 1rem;
  }
  .block-views-blocktopic-image-news-block-1 .content .view-id-topic_image_news .view-content .vertical .topic-image-box-col .topic-image-box-row .views-field-title {
    padding-left: 1.1rem;
    width: 95%;
  }
  .block-views-blocktopic-image-news-block-1 .content .view-id-topic_image_news .view-content .vertical .topic-image-box-col .topic-image-box-row .views-field-title .field-content a {
    font-size: 0.7rem;
  }
  .block-views-blocktopic-wise-news-list-block-1 .content .topic-news-list {
    padding-right: 0rem;
  }
  .block-views-blocktopic-wise-news-list-block-1 .content .topic-news-list .views-field span a {
    font-size: 0.7rem;
    color: grey;
  }
  .block-views-blocktopic-wise-news-list-block-1 .content .topic-news-list .views-field span a:hover {
    color: #e33b26;
  }
  .featured__container {
    padding: 2rem 0 0 1rem;
  }
  .common_header .featured-news-view .views-view-grid .views-field-field-image a img {
    height: 300px;
  }
  .common_header .featured-news-view .views-view-grid .views-field-title {
    position: relative;
    top: -125px;
    max-width: 230px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 150px;
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(30%, black), to(transparent));
    background-image: linear-gradient(to top, black 30%, transparent);
  }
  .common_header .featured-news-view .views-view-grid .views-field-title .field-content a {
    color: white;
    font-size: 1rem;
  }
  .block-views-blockgrid-news-view-block-1 .content .view-display-id-block_1 .view-content {
    margin-left: 0;
  }
}

@media only screen and (max-width: 428px) {
  .block-views-blocktopic-image-news-block-1 .content .view-id-topic_image_news .view-content .vertical .topic-image-box-col .topic-image-box-row .views-field-field-image {
    width: 100%;
  }
  .block-views-blocktopic-image-news-block-1 .content .view-id-topic_image_news .view-content .vertical .topic-image-box-col .topic-image-box-row .views-field-title {
    padding-left: 1.2rem;
    width: 80%;
  }
  .block-views-blocktopic-wise-news-list-block-1 .content .topic-news-list {
    padding-right: 0rem;
  }
  .block-views-blocktopic-wise-news-list-block-1 .content .topic-news-list .views-field span a {
    font-size: 0.7rem;
    color: grey;
  }
  .block-views-blocktopic-wise-news-list-block-1 .content .topic-news-list .views-field span a:hover {
    color: #e33b26;
  }
  .featured__container {
    padding: 2rem 0 0 1rem;
  }
  .common_header .featured-news-view .views-view-grid .views-field-field-image {
    padding-left: 4rem;
  }
  .common_header .featured-news-view .views-view-grid .views-field-field-image a img {
    height: 360px;
  }
  .common_header .featured-news-view .views-view-grid .views-field-title {
    margin-left: 4rem;
  }
}
/*# sourceMappingURL=responsive.css.map */