.block-views-exposed-filter-blocksearch-api-view-page-1 {
  border-bottom: 1px dotted gray;
  padding: 2rem 0;
}

.block-views-exposed-filter-blocksearch-api-view-page-1 h2 {
  text-align: center;
}

.block-views-exposed-filter-blocksearch-api-view-page-1 #views-exposed-form-search-api-view-page-1 .form--inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block-views-exposed-filter-blocksearch-api-view-page-1 #views-exposed-form-search-api-view-page-1 .form--inline .form-text {
  width: 1000px !important;
  height: 30px;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 1rem;
  border-bottom: 1px solid gray;
}

.block-views-exposed-filter-blocksearch-api-view-page-1 #views-exposed-form-search-api-view-page-1 .form--inline .form-actions {
  padding: 0 !important;
}

.block-views-exposed-filter-blocksearch-api-view-page-1 #views-exposed-form-search-api-view-page-1 .form--inline .form-actions input {
  height: 30px;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  background: red !important;
  border-radius: 5px !important;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.block-views-exposed-filter-blocksearch-api-view-page-1 #views-exposed-form-search-api-view-page-1 .form--inline .form-actions input:hover {
  background: gray !important;
}

.block-page-title-block .content h1 {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
}

.region-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.region-search-page-block-sidebar .facets-wrapper h2 {
  font: 700 14px/20px Montserrat, Verdana, arial, sans-serif;
  margin-bottom: 16px;
}

.region-search-page-block-sidebar .facets-wrapper ul li {
  margin-bottom: 12px;
  display: block;
  color: #5e5e5e;
  cursor: pointer;
  text-transform: capitalize;
}

.region-search-page-block-sidebar .facets-wrapper ul li a {
  border-bottom: none !important;
}

.region-search-page-block-sidebar .facets-wrapper ul li a span {
  color: #5e5e5e;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.region-search-page-block-sidebar .facets-wrapper ul li a span:hover {
  color: red;
}

.region-search-page-block-sidebar .facets-widget-searchbox_links input {
  background-color: lightgray;
  border: none;
  outline: none;
  border-radius: 5px;
}

.views-element-container .search-api-view {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.views-element-container .search-api-view .view-content {
  width: 95%;
  padding-left: 15px;
  border-left: 2px dotted grey;
}

.views-element-container .search-api-view .view-content .views-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem 0;
  border-bottom: 1px solid lightgray;
}

.views-element-container .search-api-view .view-content .views-row .views-field-field-image {
  width: 20%;
}

.views-element-container .search-api-view .view-content .views-row .views-field-field-image a img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}

.views-element-container .search-api-view .view-content .views-row .views-field-field-image a img:hover {
  opacity: 0.7;
}

.views-element-container .search-api-view .view-content .views-row .views-field-title {
  padding-left: 1rem;
}

.views-element-container .search-api-view .view-content .views-row .views-field-title span {
  font-size: 0.9rem;
  font-weight: bold;
}
/*# sourceMappingURL=search.css.map */